.exnet-small-item {
	float:left;
	width:115px;
	text-align: center;
}
.exnet-small-item img {
	width:100px !important;
	height:140px !important;
	border:2px solid #ccc;
}

#exnet-filtering-options dl {
    margin-bottom:50px;
}
 
#exnet-filtering-options dl dt {
	clear:left;
    float:left; 
    margin-right:10px; 
    padding:5px;  
    width:100px; 
}
 
#exnet-filtering-options dl dd {
    margin:2px 0; 
    padding:5px 0;
}

#exnet-filtering-options input[type=text], #exnet-filtering-options select {
	width:220px;
}
 #exnet-movie-links {
	list-style-type:none;
	margin:15px 0 0 0;
	font-size:13px;
	background:white;
	border:0;
 }
 #exnet-movie-links li {
	list-style: none;
	margin:0;
 }
 .exnet-movie-links {
 	margin:0;
 	padding:0;
 }
 .exnet-movie-links li{
 	padding:10px;
 }
 #exnet-tabs, .exnet-tabs {
 	list-style-type: none;
 	margin:0 0 0 5px !important;
 	padding:0 !important;
 }
 #exnet-tabs li, .exnet-tabs li { 
 	list-style:none;
 	float:left;
 	margin-right:10px;
 	border:1px solid #dcddcf;
 	border-bottom: none;
 	padding: 7px;
 }
 #exnet-tabs li.active, .exnet-tabs li.active { 
 	border: 1px solid #dcddcf;
 	border-bottom: none;
 	background:#F2F2F2;
 }
 #exnet-tabs li:hover, .exnet-tabs li:hover {
 	border: 1px solid #dcddcf;
 	background:#F2F2F2;	
 	border-bottom: none;
 }
 .exnet-movie-links .float-left {
 	width:75%;
 	float:left;
 }
 .exnet-movie-links .float-right {
 	float:right;
 }
 .single-watch .post-thumbnail {
    margin-top: 72px;
}